@media all and (max-width: 1201px) {
  .aboutme img {
    width: 250px;
    height: 200px;
  }

  #button {
    margin-left: 100px;
  }

  .aboutme h4 {
    font-size: 12px;
  }
}

@media all and (max-width: 1170px) {
  .aboutme {
    font-size: 14px;
  }
  #kira {
    font-size: 14px;
  }
}

@media all and (max-width: 1130px) {
  #kira {
    font-size: 10px;
  }
}

@media all and (max-width: 1110px) {
  #button #button_img {
    width: 120px;
  }
}

@media all and (max-width: 965px) {
  #info {
    font-size: 14px;
  }
}

@media all and (max-width: 971px) {
  .portfolio img,
  video {
    width: 380px;
    height: 300px;
  }

  .portfolio h2 {
    font-size: 15px;
  }

  .portfolio h3 {
    font-size: 12px;
  }
}

@media all and (max-width: 900px) {
  #kira {
    display: none;
  }
}

@media all and (max-width: 811px) {
  .portfolio img,
  video {
    width: 300px;
    height: 220px;
  }

  .aboutme img {
    width: 200px;
    height: 150px;
  }

  .aboutme h4 {
    font-size: 10px;
  }

  #info {
    font-size: 12px;
  }

  #photo_of_me {
    width: 200px;
  }
}

@media all and (max-width: 751px) {
  #company {
    display: none;
  }
}

@media all and (max-width: 685px) {
  #photo_of_me {
    width: 160px;
  }

  .footer {
    font-size: 80%;
  }
}

@media all and (max-width: 646px) {
  .portfolio img,
  video {
    width: 260px;
    height: 180px;
  }

  .aboutme {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutme h4 {
    font-size: 10px;
  }

  #info {
    font-size: 11px;
  }

  .link {
    font-size: 80%;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .aboutme {
    border: none;
  }

  .home {
    border: none;
  }

  .footer {
    background-color: pink;
    border: none;
    font-size: 60%;
  }

  #logo {
    width: 70px;
  }

  .footer_link {
    display: none;
  }

  .footer_img {
    display: block;
  }
}

@media all and (max-width: 593px) {
  #info {
    font-size: 8px;
  }

  #photo_of_me {
    width: 150px;
  }

  .biggest {
    font-size: 18px;
  }

  #cat {
    width: 40px;
    height: 40px;
  }
}

@media all and (max-width: 550px) {
  #info {
    display: none;
  }
  #info2 {
    display: block;
    font-size: 15px;
  }
}

@media all and (max-width: 474px) {
  #info2 {
    font-size: 15px;
  }

  #photo_of_me {
    width: 120px;
  }

  .footer_contacts {
    margin-left: 0;
  }

  .footer_img {
    width: 45%;
    height: 45%;
  }
}

@media all and (max-width: 414px) {
  .link {
    display: none;
  }

  #info2 {
    font-size: 13px;
  }

  /* #logo {
    margin-left: 45%;
  } */

  .footer_img {
    width: 70%;
    height: 70%;
  }
}
