body {
  background-color: pink;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.home {
  display: flex;
  border: 1px solid rgb(201, 46, 72);
  padding: 0px 0px 20px 20px;
}

.home__text {
  display: flex;
  flex-direction: column;
  margin: 70px 0px 0px 60px;
}

.link {
  margin-right: 20px;
}

a:hover {
  color: rgb(201, 46, 72);
  transition: 0.8s;
}

.aboutme {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(201, 46, 72);
  margin-top: 30px;
  padding: 20px 0px 20px 20px;
}

img {
  border: 2px solid palevioletred;
}

.text__aboutme {
  margin-left: 45%;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(201, 46, 72);
  margin-top: 30px;
  padding: 20px 0px 20px 20px;
}

.footer {
  background-color: palevioletred;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  padding: 0px 0px 20px 0px;
}

.footer__list li a:hover {
  margin-left: 5px;
  transition: 0.4s;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4.5s steps(80, end);
}

h1 {
  color: palevioletred;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#cat:hover {
  transform: rotate(360deg);
  transition: 2s;
  border-radius: 40%;
}
